
<header class="sticky-top">
    <nav id="navbar-example2" class="navbar d-flex justify-content-around p-3  " style="background-color: #141414"  >



        <ul class="nav nav-pills gap-3">
            
            <li class="nav-item" style="color: #000;">
                <i class="fa-solid fa-envelope fa-xl"></i>
            </li>
            <li class="nav-item">
                <strong style="text-decoration: none;">
                    sandropachas&#64;outlook.com.pe</strong>
            </li>
        </ul>
    
        <ul class="nav nav-pills gap-5">
            <li class="nav-item">
                <a href="#Inicio" class="ir-link">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="#sobreMi" class="ir-link">Sobre Mí</a>
            </li>
            <li class="nav-item">
                <a href="#certificados" class="ir-link">Mi Certificados</a>
            </li>
            <li class="nav-item">
                <a href="#proyectos" class="ir-link">Mi Proyectos</a>
            </li>
            <li class="nav-item">
                <a href="#skills" class="ir-link">Mis Skills</a>
            </li>

        </ul>
    
    </nav>
</header>


<main>
    <section style="background-color: #141414;color: #ffffffff; " id="Inicio">
    
<div class="container "  >
     <div class="row animate__animated animate__zoomIn p-5" style="color: #ffffffff;">
        <div class="col-5 conteiner-img ">
            <img src="../myAvatar.png" alt="mi avatar">
        </div>
        <div class="col-7 d-flex flex-column align-self-center text-end ">
            <h1 >Sandro Pachas <i class="fa-solid fa-user-secret"></i></h1>
            <strong>Desarrollador web apasionado por crear<br> experiencias digitales intuitivas, funcionales.</strong>
            <ul class="nav  justify-content-end  mt-3 ">
                <li class="nav-item">
                    <a href="https://github.com/sandro12352"  target="_blank" class="btn redes-link"><i class="fa-brands fa-github fa-xl"></i></a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/profile.php?id=61569458334363" target="_blank" class=" btn redes-link"><i class="fa-brands fa-facebook fa-xl"></i></a>
                </li>
                <li class="nav-item">
                    <a href="https://discord.com/users/sandro12352" target="_blank" class=" btn redes-link"><i class="fa-brands fa-discord fa-xl"></i></a>
                </li>
                
            </ul>
            <div class="col-12 mt-3">
                <a href="../cv.pdf" target="_blank" class="btn btn-cv" ><i class="fa-solid fa-file-export"></i> Mira mi CV </a> 
            </div>
        </div>
       
            </div> 
        <div>
    </div>
</div>

</section>

   
  
    
<section  style="background-color: #1E1E1E;" >
    
    <div class="container ">
        <div class="row  mb-5 " id="proyectos" style="scroll-margin-top: 80px;">
            <div class="col-12 my-5">
                <h5>Proyectos</h5>
               
            </div>   
            <h3>FrontEnd</h3>
            <div class="col-5">
                <div class=" card h-100">
                    <div class="imagen-proyecto" style="height: 100%;">
                        <a href="https://github.com/sandro12352/ProyectoAnimePe" target="_blank"><img src="./AnimePe.png" class="card-img-top" alt="..." style="height: 100%; width: 100%; object-fit: cover;"></a>
                       
                    </div>
                  
                </div>
                
            </div>
            <div class="col">
            <div class="p-4 d-flex flex-column h-100" style="background-color: #2b2b2b67; border-radius: 15px;">
                <h3>Proyecto AnimePe</h3>
                <a>
                    <p>
                        En este proyecto se desarrolló una aplicación web de anime, donde los usuarios pueden ver información sobre diferentes animes, incluyendo sinopsis, géneros y episodios. La aplicación utiliza la API de Jikan para obtener datos de MyAnimeList y está construida con Angular y Bootstrap para un diseño responsivo y atractivo.<br><br>
                    </p>
                </a>
                    <h5>Tecnologias Usadas:</h5>
                    <!-- Tecnologías al fondo -->
                    <div class="d-flex gap-3 mt-auto">
                        <div  style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                            <p class="m-0 text-white">JavaScript <i class="fa-brands fa-js fa-xl " style="color: #f7df1c;"></i></p>
                        </div>
                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                        <p class="m-0 text-white">TypeScript <img src="https://raw.githubusercontent.com/remojansen/logo.ts/master/ts.png" alt="TypeScript Logo" width="23" height="23"></p>
                        </div>
                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                        <p class="m-0 text-white">HTML <i class="fa-brands fa-html5 fa-xl" style="color: #e7563a;"></i></p>
                        </div>
                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                        <p class="m-0 text-white">CSS <i class="fa-brands fa-css3-alt fa-xl" style="color: #2367b2;"></i></p>
                        </div>
                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                        <p class="m-0 text-white">Angular <i class="fa-brands fa-angular fa-xl" style="color: #df1538;"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   
        <div class="row my-5">
            <h3>FullStack</h3>
            <div class="col-5"> 
                    <div class=" card h-100" >
                        <div class="imagen-proyecto" style="height: 100%;">
                            <a href="https://github.com/sandro12352/OsanaProject" target="_blank">
                                <img src="./OsanaProyect.png" class="card-img-top " alt="..."  style="height: 100%; width: 100%; object-fit: cover;">
                            </a>
                        </div>
                    </div>
            </div>

            <div class="col">
                <div class="p-4 d-flex flex-column h-100" style="background-color: #2b2b2b67; border-radius: 15px;">
                    <h3>Proyecto Osana</h3>
                        <a><p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum dolor aperiam enim adipisci dolorum at impedit voluptates sunt odit! Quas temporibus fuga natus tenetur similique cupiditate aspernatur laboriosam error!<br><br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae excepturi explicabo porro, quaerat provident ipsa similique optio veniam soluta labore dicta sequi aliquid voluptatum, nobis perferendis deserunt accusantium! Corporis, maxime!<br>
                        </p></a>

                        <h5>Tecnologias Usadas:</h5>
                        <!-- Tecnologías al fondo -->
                <div class="d-flex gap-3 mt-auto flex-wrap">
                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                            <p class="m-0 text-white">JavaScript <i class="fa-brands fa-js fa-xl " style="color: #f7df1c;"></i></p>
                        </div>
                        
                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                            <p class="m-0 text-white">TypeScript <img src="https://raw.githubusercontent.com/remojansen/logo.ts/master/ts.png" alt="TypeScript Logo" width="23" height="23"></p>
                        </div>

                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                            <p class="m-0 text-white">HTML <i class="fa-brands fa-html5 fa-xl" style="color: #e7563a;"></i></p>
                        </div>

                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                            <p class="m-0 text-white">CSS <i class="fa-brands fa-css3-alt fa-xl" style="color: #2367b2;"></i></p>
                        </div>
                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                            <p class="m-0 text-white">Mysql <i class="fa-solid fa-database fa-xl"></i></p>
                        </div>
                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                            <p class="m-0 text-white">Angular <i class="fa-brands fa-angular fa-xl" style="color: #df1538;"></i></p>
                        </div>

                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                            <p class="m-0 text-white">Node.js <i class="fa-brands fa-node-js fa-xl" style="color: #63E6BE;"></i></p>
                        </div>

                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                            <p class="m-0 text-white">Express.js</p>
                    </div>
                </div>
            </div>
        </div>


        
    </div>
    <div class="row my-5">
            <h3>Backend</h3>
            <div class="col-5"> 
                    <div class=" card h-100" >
                        <div class="imagen-proyecto" style="height: 100%;">
                            <a href="https://github.com/sandro12352/proyectoRQS" target="_blank">
                                <img src="./ProyectoColegio.png" class="card-img-top " alt="..."  style="height: 100%; width: 100%; ">
                            </a>
                        </div>
                    </div>
            </div>

            <div class="col">
                <div class="p-4 d-flex flex-column h-100" style="background-color: #2b2b2b67; border-radius: 15px;">
                    <h3>Proyecto Colegio</h3>
                        <a><p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum dolor aperiam enim adipisci dolorum at impedit voluptates sunt odit! Quas temporibus fuga natus tenetur similique cupiditate aspernatur laboriosam error!<br><br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae excepturi explicabo porro, quaerat provident ipsa similique optio veniam soluta labore dicta sequi aliquid voluptatum, nobis perferendis deserunt accusantium! Corporis, maxime!<br>
                        </p></a>

                        <h5>Tecnologias Usadas:</h5>
                        <!-- Tecnologías al fondo -->
                <div class="d-flex gap-3 mt-auto">
                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                            <p class="m-0 text-white">Python <i class="fa-brands fa-python fa-xl" ></i></p>
                        </div>
                        
                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                            <p class="m-0 text-white">Mysql <i class="fa-solid fa-database fa-xl"></i></p>
                        </div>

                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                            <p class="m-0 text-white">PyQt5</p>
                        </div>

                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                            <p class="m-0 text-white">CSS <i class="fa-brands fa-css3-alt fa-xl" style="color: #2367b2;"></i></p>
                        </div>

                        <div style="background-color: #444; padding: 5px 10px; border-radius: 5px;">
                            <p class="m-0 text-white">QtDisgner</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="row  my-5 " id="sobreMi" style="scroll-margin-top: 80px;">
            <div class="col-7 my-5 ">
                <h5>Sobre Mí</h5>
                <div  class="my-3">
                    <h3> Sandro Pachas</h3>
                    <p >
                        !Hola! tengo 25 años técnico en Computación e Informática.<br>
                        Soy una persona autodidacta, motivada por el aprendizaje constante.<br><br>
                        Soy Titulado de Tecnico Superior en el Instituto Cibertec.<br>
                        Eh llevado cursos de Frontend y Backend en la plataforma de Udemy y estoy aprendiendo Ingles.<br>
                        Algunos de mis hobbies son la musica toco guitarra desde los 9 años y el deporte voy al gym desde los 20 años.<br><br>
                        En este portafolio encontrarás una muestra de mis habilidades y proyectos en los que he trabajado. <br>
                        Estoy emocionado de poder compartir todas mis habilidades.!! <br>

                    </p>
                </div>
                
            </div>
            <div class="col my-5 d-flex align-items-center" >
                <div  class="p-4" style="background-color: #2b2b2b67;border-radius: 15px;">
                    <h3>Tecnico Superior en Copuntación e Informática</h3>
                    <a  class="abrirCertificado" href="#">
                         <p >
                        Titulo de técnico superior en Computación e Informática<br>
                        en el Instituto Cibertec.<br><br>
                    - Graduado el 20 de diciembre del 2022.<br>

                    </p>
                    </a>
                   
                </div>
            
            </div>
        
        </div>
    

        <div class="row my-5 gap-3" id="certificados" style="scroll-margin-top: 80px;">
            <h5>Certificaciones</h5>
            <div class="col-6 p-3"  style="background-color: #2b2b2b67;border-radius: 15px;">
                   
                  <a  class="abrirCertificado" href="./CertificadoLinux.pdf" target="_blank">
                    <h3>Certificado Linux</h3>
                    <p>Certificado de desarrollo profesional esencial de Linux <br><br>
                        - Fecha: 13 Diciembre 20023.<i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </p>
                </a>
                
                
                    
            </div>
            <div class="col p-3"  style="background-color: #2b2b2b67;border-radius: 15px;">
                   
                   <a  class="abrirCertificado" href="./CertificadoPython.pdf" target="_blank">
                    <h3>Certificado de Fundamentos de Python</h3>
                    <p>Escribe programas Python utilizando la infraestructura del lenguaje estándar y conoce los medios para resolver problemas típicos de implementación <br><br>
                        - Fecha: 18 Diciembre 20023.<i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </p>
                </a>
                
                
                    
            </div>
            <div class="col-6 p-3"  style="background-color: #2b2b2b67;border-radius: 15px;">
                   <a  class="abrirCertificado" href="#">
                    <h3>Certificado Angular</h3>
                    <p>Certificado de desarrollo profesional esencial de Angular <br><br>
                        - Fecha: 13 Diciembre 20024.<i class="fa-solid fa-arrow-up-right-from-square"></i>
                      
                    </p>
                </a>        
            </div>

             <div class="col p-3"  style="background-color: #2b2b2b67;border-radius: 15px;">
                <a  class="abrirCertificado" href="#">
                    <h3>Certificado Node.js</h3>
                    <p>Desarrollo profesional esencial de Node.js <br><br>
                        - Fecha: 20 Enero 20024.<i class="fa-solid fa-arrow-up-right-from-square"></i>
                       
                    </p>
                </a>
                
                   
                    
            </div>
            
        </div>
        
        <div class="row mt-5 gap-3 " id="skills" style="scroll-margin-top: 80px;">
            <h5>Skills</h5>
            <div class="d-flex gap-3 justify-content-between m-0 p-0">
                <div class=" text-white text-center" style="background-color: #2b2b2b67;border-radius: 15px;width: 25%;height: 100%;padding: 2rem">
                    JavaScript
                </div>
                <div class=" text-white text-center" style="background-color: #2b2b2b67;border-radius: 15px;width: 25%;height: 100%;padding: 2rem">
                    TypeScript
                </div>
                <div class=" text-white text-center" style="background-color: #2b2b2b67;border-radius: 15px;width: 25%;height: 100%;padding: 2rem">
                    Python
                </div>
                <div class=" text-white text-center" style="background-color: #2b2b2b67;border-radius: 15px;width: 25%;height: 100%;padding: 2rem">
                    Java
                </div>
                
            </div>
            <div class="d-flex gap-3 justify-content-between m-0 p-0">
                <div class=" text-white text-center" style="background-color: #2b2b2b67;border-radius: 15px;width: 25%;height: 100%;padding: 2rem">
                    Node.js
                </div>
                <div class=" text-white text-center" style="background-color: #2b2b2b67;border-radius: 15px;width: 25%;height: 100%;padding: 2rem">
                    Angular
                </div>
                <div class=" text-white text-center" style="background-color: #2b2b2b67;border-radius: 15px;width: 25%;height: 100%;padding: 2rem">
                    HTML
                </div>
                <div class=" text-white text-center" style="background-color: #2b2b2b67;border-radius: 15px;width: 25%;height: 100%;padding: 2rem">
                    CSS
                </div>
                
            </div>
            <div class="d-flex gap-3 justify-content-between m-0 p-0">
                <div class=" text-white text-center" style="background-color: #2b2b2b67;border-radius: 15px;width: 25%;height: 100%;padding: 2rem">
                    Git
                </div>
                <div class=" text-white text-center" style="background-color: #2b2b2b67;border-radius: 15px;width: 25%;height: 100%;padding: 2rem">
                    Mysql
                </div>
                <div class=" text-white text-center" style="background-color: #2b2b2b67;border-radius: 15px;width: 25%;height: 100%;padding: 2rem">
                    SqlServer
                </div>
                <div class=" text-white text-center" style="background-color: #2b2b2b67;border-radius: 15px;width: 25%;height: 100%;padding: 2rem">
                            Express.js
                        </div>
                        
                    </div>
                </div>
        </div>
    
    

    </section>
</main>



<footer  class="bd-footer py-4 py-md-5 " style="background-color: #1E1E1E;color: #ffffffff;">
    <div class="container">
        <div class="row  align-items-end " style="min-height: 150px;">
            <div class="col-12">
                <ul class="nav  justify-content-center   gap-2">
                <li class="nav-item">
                    <a href="https://github.com/sandro12352"  target="_blank" class="btn redes-link"><i class="fa-brands fa-github fa-2xl"></i></a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/profile.php?id=61569458334363" target="_blank" class=" btn redes-link"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                </li>
                <li class="nav-item">
                    <a href="https://discord.com/users/sandro12352" target="_blank" class=" btn redes-link"><i class="fa-brands fa-discord fa-2xl"></i></a>
                </li>
                
            </ul>
            </div>
            <div class="col-12  ">
                <p class="text-center">© 2023 Sandro Pachas. Todos los derechos reservados.</p>

            </div>

        </div>
    </div>
</footer>
    
    


